/* App.css */

.app {
  display: flex;
}

.sidebar {
  position: relative;
}

.vertical-line {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;  /* Set the height to 100% to cover the full height of the sidebar */
  width: 1px;
  background-color: #721f1f;
}