.NewWorkout {
  display: flex;
  width: 1200px;
  height: 600px;
}

.exercise-box {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-left: 150px;
  /* Adjust the value to move the boxes to the right */
}

.exercise-box>div {
  padding-top: 5px;
  box-sizing: border-box;
  /* Include padding and border in the box's total height */
  border: 2px solid #ccc;
  padding: 10x;
  min-width: 260px;
  /* 4 items per row */
  max-width: 260px;
  /* Set a maximum width */
  min-height: 150px;
  max-height: 150px;
  /* Set a fixed maximum height */
  overflow-y: auto;
  /* Enable vertical scrolling for overflow content */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  /* Optional: Add a subtle box shadow for visual appeal */
}

.StartNewButton {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.StartNewButton:hover,
.StartNewButton:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.StartNewButton:hover {
  transform: translateY(-1px);
}

.StartNewButton:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.StartPresetButtons {
  align-items: center;
  background-clip: padding-box;
  background-color: #8800ff;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.StartPresetButtons:hover,
.StartPresetButtons:focus {
  background-color: #7600dd;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.StartPresetButtons:hover {
  transform: translateY(-1px);
}

.StartPresetButtons:active {
  background-color: #8800ff;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}